<nav class="flex-1 px-2 space-y-1">
  <div class="flex items-center px-2 py-2 font-normal text-medium group uppercase text-sm">
    Getting started
  </div>
  <div class="ml-3">
    <a
      href="/"
      class="
        flex
        items-center
        px-2
        py-2
        font-normal
        text-dark-tint
        hover:no-underline hover:text-primary hover:bg-opacity-25
        group
      "
    >
      Introduction
    </a>
    <a
      href="/customizing"
      class="
        flex
        items-center
        px-2
        py-2
        font-normal
        text-dark-tint
        hover:no-underline hover:text-primary hover:bg-opacity-25
        group
      "
    >
      Customizing
    </a>
  </div>
  <div class="flex items-center px-2 py-2 font-normal text-medium group uppercase text-sm">
    Components
  </div>
  <div class="ml-3">
    <div class="flex flex-col">
      <a
        href="/components/button"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Button
      </a>
      <a
        href="/components/dropdown"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Dropdown
      </a>
      <a
        href="/components/input"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Input
      </a>
      <a
        href="/components/menu"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Menu
      </a>
      <a
        href="/components/menu-divider"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Menu Divider
      </a>
      <a
        href="/components/menu-item"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Menu Item
      </a>
      <a
        href="/components/menu-label"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Menu Label
      </a>
      <a
        href="/components/select"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Select
      </a>
      <a
        href="/components/tag"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Tag
      </a>
      <a
        href="/components/textarea"
        class="
          flex
          items-center
          px-2
          py-2
          font-normal
          text-dark-tint
          hover:no-underline hover:text-primary hover:bg-opacity-25
          group
        "
      >
        Textarea
      </a>
    </div>
  </div>
</nav>
