<a href="/" class="pb-3 text-white">Home</a>
<a href="/styleguide" class="pb-3 text-white">Styleguide</a>
<a href="#" class="text-white" onclick="showComponents()">Components</a>
<div class="<%= page.url.includes('components') ? '' : 'hidden' %> pb-3" id="dropdown-content">
  <div class="flex flex-col">
    <a href="/components/button" class="inline-block text-sm text-white no-underline">
      Button
    </a>
    <a href="/components/input" class="inline-block text-sm text-white no-underline">
      Input
    </a>
  </div>
</div>

<script>
  function showComponents() {
    var dropdownContent = document.getElementById("dropdown-content");

    dropdownContent.classList.toggle("hidden");
  } 
</script>
