<nav class="flex-1 px-2 space-y-1 bg-blue-800">
  <a
    href="/"
    class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
  >
    <ion-icon class="mr-3" name="home-outline"></ion-icon>
    Home
  </a>
  <a href="/customizing" class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group">
  <a
    href="/styleguide"
    class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
  >
    <ion-icon class="mr-3" name="color-palette-outline"></ion-icon>
    Customizing
  </a>
  <a
    href="#"
    class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
    onclick="showComponents()"
  >
    <ion-icon class="mr-3" name="grid-outline"></ion-icon>
    Components
    <ion-icon class="ml-2 text-xs" name="chevron-down-outline"></ion-icon>
  </a>
  <div
    class="<%= page.url.includes('components') ? '' : 'hidden' %> bg-blue-700 bg-opacity-25 rounded-md h-64 overflow-y-auto"
    id="dropdown-content"
  >
    <div class="flex flex-col">
      <a
        href="/components/button"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Button
      </a>
      <a
        href="/components/dropdown"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Dropdown
      </a>
      <a
        href="/components/input"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Input
      </a>
      <a
        href="/components/menu"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Menu
      </a>
      <a
        href="/components/menu-divider"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Menu Divider
      </a>
      <a
        href="/components/menu-item"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Menu Item
      </a>
      <a
        href="/components/menu-label"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Menu Label
      </a>
      <a
        href="/components/select"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Select
      </a>
      <a
        href="/components/tag"
        class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group"
      >
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>
        Tag
      </a>
      <a href="/components/textarea" class="flex items-center px-2 py-2 text-sm font-medium text-white rounded-md hover:no-underline md:text-base hover:bg-blue-700 hover:bg-opacity-25 group">
        <ion-icon class="mr-3" name="arrow-forward-circle-outline"></ion-icon>        
        Textarea
      </a>
    </div>
  </div>
</nav>

<script>
  function showComponents() {
    var dropdownContent = document.getElementById('dropdown-content');

    dropdownContent.classList.toggle('hidden');
  }
</script>
