@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

.content {
  @apply text-xl leading-8 tracking-wider;
}

.content p {
  @apply my-5;
}

.content h1 {
  @apply mb-8 text-5xl font-bold leading-10;
}

.content h2 {
  @apply mb-8 text-4xl font-bold;
}

.content h3 {
  @apply mb-8 text-3xl font-bold;
}

.content h4 {
  @apply mb-8 text-2xl font-bold;
}

.content h5 {
  @apply mb-8 text-xl font-bold;
}

.content h6 {
  @apply mb-8 text-lg font-bold;
}

.content ul,
.content ol,
.content p {
  @apply overflow-auto;
}

.content > div > ul,
.content > div > ol {
  @apply my-6;
}

.content ul,
.content ol {
  @apply pl-8;
}

.content ul {
  @apply list-disc list-outside;
}

.content ol {
  @apply list-decimal list-outside;
}

.content pre[class*='language-'] {
  @apply my-8;
}

.content table {
  @apply block overflow-auto whitespace-no-wrap border-collapse;
}

.content th,
.content td {
  @apply px-8 py-4 border;
}

.content th {
  @apply bg-gray-100;
}

code {
  font-size: 15px;
}

pre {
  padding: 0.5rem 0.75rem !important;
  width: max-content;
}
