.body-dark-mode {
  @apply bg-dark text-white !important;
}

.nav-dark-mode {
  @apply bg-dark-tint text-white border-secondary !important;
}

.body-dark-mode .main-nav a
--label-color {
  @apply text-white !important;
}

.body-dark-mode .main-nav .active {
  @apply text-primary !important;
}

.body-dark-mode .content h1 a,
.body-dark-mode .content h2 a,
.body-dark-mode .content h3 a,
.body-dark-mode .content h4 a {
  @apply text-white !important;
}

.body-dark-mode .content code {
  @apply text-dark !important;
}

@tailwind base;

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

.content {
  @apply text-base leading-8 tracking-wider;
}

.content p {
  @apply mb-2;
}

.content h1 {
  @apply mb-8 text-2xl font-bold leading-10;
}

.content h2 {
  @apply mb-8 text-xl font-bold;
}

.content h3 {
  @apply mb-5 text-lg font-bold;
}

.content h4 {
  @apply mb-5 text-base font-bold;
}

.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a {
  @apply text-dark-tint;
}

.content pre[class*='language-'] {
  @apply my-8;
}

.content table {
  @apply block mb-8 overflow-auto text-sm border-collapse whitespace-nowrap;
}

.content th,
.content td {
  @apply px-4 py-2 border;
}

.content th {
  @apply w-full font-semibold text-left;
}

.content code {
  @apply p-1 text-sm rounded bg-light-tint;
}

.content pre code {
  background-color: inherit;
}

.content ul {
  @apply list-disc list-inside mb-2;
}

.main-nav a {
  @apply flex items-center px-2 py-2 ml-2 font-normal text-dark-tint hover:no-underline hover:text-primary hover:bg-opacity-25;
}

.main-nav .header {
  @apply flex items-center px-2 py-2 text-xs font-bold uppercase;
}

.main-nav .active {
  @apply text-primary rounded;
  background-color: rgb(var(--gr-color-primary-rgb), 0.1);
}

.toc-container-header {
  @apply text-xs font-bold uppercase;
}

.table-of-contents ul {
  @apply list-none;
}
